<% if user_can?('create_job') %>
  <% if snac_prefs.has_api_key? %>

    <p><%= I18n.t("actions.snac.push.#{objtype}_desc") %></p>

    <%= form_with url: url_for({:controller => :snac, :action => :push, :uris => [obj['uri']]}), local: false do |f| %>

      <fieldset>
        <% case objtype %>
        <% when 'agent' %>
          <div>
            <%= f.check_box "include_linked_resources" %>
            <%= I18n.t('actions.snac.options.include_linked_resources') %>
          </div>
        <% when 'resource' %>
          <div>
            <%= f.check_box "include_linked_agents" %>
            <%= I18n.t('actions.snac.options.include_linked_agents') %>
          </div>
        <% end %>

        <div>
          <%= f.check_box "dry_run" %>
          <%= I18n.t('actions.snac.options.dry_run') %>
        </div>
      </fieldset>

      <div class="form-actions">
        <%= f.submit I18n.t("actions.snac.push.button_label"),
              :id => "snac-push-submit-button",
              :class => "btn snac-push-button btn-default pull-left",
              data: { confirm: I18n.t("actions.snac.push.#{objtype}_confirm"), disable_with: I18n.t("actions.snac.push.button_label") }
        %>

        <a class="btn btn-cancel btn-default pull-right" href="#"><%= I18n.t("actions.cancel") %></a>
      </div>

    <% end %>

  <% else %>
    <p><%= I18n.t("actions.snac.push.snac_api_key_needed") %></p>
  <% end %>
<% else %>
  <p><%= I18n.t("actions.snac.push.aspace_permissions_needed") %></p>
<% end %>
