<%
  require_relative '../../../common/snac_preferences'
  require_relative '../../../common/snac_link_helper'

  snac_prefs = SnacPreferences.new(user_prefs)
  link_helper = SnacLinkHelper.new(snac_prefs)

  objtype = link_helper.get_object_type(obj)
%>

<div id="snac-dropdown" class="btn-group dropdown" data-no-change-tracking="true">
  <a class="btn btn-sm btn-default dropdown-toggle snac-dropdown-toggle" data-toggle="dropdown" href="#" title="<%= I18n.t("actions.snac.label") %>">
    <%= I18n.t("actions.snac.label") %> <span class="caret"></span>
  </a>

  <ul class="dropdown-menu snac-dropdown-menu open-aligned-right">

    <p id="<%= "snac-#{snac_prefs.environment}-label" %>" class="snac-environment-label text-center">
      <%= I18n.t("actions.snac.environment.#{snac_prefs.environment}_label") %>
    </p>

    <div>

      <% if link_helper.exported?(obj) %>

        <li>
          <ul class="nav nav-tabs" id="snac-tabs" role="tablist">

            <li class="nav-item active">
              <a class="nav-link" id="snac-view-tab" data-toggle="tab" href="#snac-view-pane" role="tab" aria-controls="snac-view-pane" aria-selected="true">
                <%= I18n.t("actions.snac.view.tab_label") %>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="snac-sync-tab" data-toggle="tab" href="#snac-sync-pane" role="tab" aria-controls="snac-sync-pane" aria-selected="false">
                <%= I18n.t("actions.snac.sync.tab_label") %>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="snac-push-tab" data-toggle="tab" href="#snac-push-pane" role="tab" aria-controls="snac-push-pane" aria-selected="false">
                <%= I18n.t("actions.snac.push.tab_label") %>
              </a>
            </li>

            <% if objtype == 'agent' %>
            <li class="nav-item">
              <a class="nav-link" id="snac-pull-tab" data-toggle="tab" href="#snac-pull-pane" role="tab" aria-controls="snac-pull-pane" aria-selected="false">
                <%= I18n.t("actions.snac.pull.tab_label") %>
              </a>
            </li>
            <% end %>

            <li class="nav-item">
              <a class="nav-link" id="snac-unlink-tab" data-toggle="tab" href="#snac-unlink-pane" role="tab" aria-controls="snac-unlink-pane" aria-selected="false">
                <%= I18n.t("actions.snac.unlink.tab_label") %>
              </a>
            </li>

          </ul>

          <div class="tab-content" id="snac-tab-content">

            <div class="tab-pane active" id="snac-view-pane" role="tabpanel" aria-labelledby="snac-view-tab">
              <%= render_aspace_partial :partial => "shared/snac_dropdown_view", :locals => {:snac_prefs => snac_prefs, :link_helper => link_helper, :obj => obj, :objtype => objtype} %>
            </div>

            <div class="tab-pane" id="snac-sync-pane" role="tabpanel" aria-labelledby="snac-sync-tab">
              <%= render_aspace_partial :partial => "shared/snac_dropdown_sync", :locals => {:snac_prefs => snac_prefs, :link_helper => link_helper, :obj => obj, :objtype => objtype} %>
            </div>

            <div class="tab-pane" id="snac-push-pane" role="tabpanel" aria-labelledby="snac-push-tab">
              <%= render_aspace_partial :partial => "shared/snac_dropdown_push", :locals => {:snac_prefs => snac_prefs, :link_helper => link_helper, :obj => obj, :objtype => objtype} %>
            </div>

            <% if objtype == 'agent' %>
            <div class="tab-pane" id="snac-pull-pane" role="tabpanel" aria-labelledby="snac-pull-tab">
              <%= render_aspace_partial :partial => "shared/snac_dropdown_pull", :locals => {:snac_prefs => snac_prefs, :link_helper => link_helper, :obj => obj, :objtype => objtype} %>
            </div>
            <% end %>

            <div class="tab-pane" id="snac-unlink-pane" role="tabpanel" aria-labelledby="snac-unlink-tab">
              <%= render_aspace_partial :partial => "shared/snac_dropdown_unlink", :locals => {:snac_prefs => snac_prefs, :link_helper => link_helper, :obj => obj, :objtype => objtype} %>
            </div>

          </div>
        </li>

      <% else %>

        <li>
          <ul class="nav nav-tabs" id="snac-tabs" role="tablist">

            <li class="nav-item active">
              <a class="nav-link" id="snac-link-tab" data-toggle="tab" href="#snac-link-pane" role="tab" aria-controls="snac-link-pane" aria-selected="true">
                <%= I18n.t("actions.snac.link.tab_label") %>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="snac-export-tab" data-toggle="tab" href="#snac-export-pane" role="tab" aria-controls="snac-export-pane" aria-selected="false">
                <%= I18n.t("actions.snac.export.tab_label") %>
              </a>
            </li>

          </ul>

          <div class="tab-content" id="snac-tab-content">

            <div class="tab-pane active" id="snac-link-pane" role="tabpanel" aria-labelledby="snac-link-tab">
              <%= render_aspace_partial :partial => "shared/snac_dropdown_link", :locals => {:snac_prefs => snac_prefs, :link_helper => link_helper, :obj => obj, :objtype => objtype} %>
            </div>

            <div class="tab-pane" id="snac-export-pane" role="tabpanel" aria-labelledby="snac-export-tab">
              <%= render_aspace_partial :partial => "shared/snac_dropdown_export", :locals => {:snac_prefs => snac_prefs, :link_helper => link_helper, :obj => obj, :objtype => objtype} %>
            </div>

          </div>
        </li>

      <% end %>

    </div>
  </ul>

  <script src="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/javascripts/snac_dropdown.js" %>"></script>
  <link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/styles/snac-dropdown.css" %>" media="all" rel="stylesheet" type="text/css">
  <link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/styles/snac-common.css" %>" media="all" rel="stylesheet" type="text/css">
</div>
