<!-- Modified by SNAC -->
<%= setup_context :title => "SNAC Search" %>

<div class="row">
  <div class="col-md-8">
    <h2><%= I18n.t("plugins.snac.label") %> (<%= link_to @prefs.env_name, @prefs.web_url %>)</h2>

    <%= render_aspace_partial :partial => "shared/flash_messages" %>

    <%= form_tag({:controller => :snac, :action => :search}, {:id => "snac_search", :class => "form-search", :method => "GET"}) do |form| %>

    <div class='control-group form-group required'>
      <label class='control-label' for="name-entry-search-query"><%= I18n.t("plugins.snac.search.name_entry") %></label>
      <div class='controls'>
        <input type="text" name="name_entry" class="name-entry-search-query snac-name-input input-large" id="name-entry-search-query"></input>
      </div>
    </div>

    <div class='control-group form-group'>
      <button type="submit" class="btn btn-primary btn-default">
        <%= image_tag "archivesspace/btn-busy.gif", :class=>"btn-busy-icon" %>
        <%= I18n.t("plugins.snac.actions.search") %>
      </button>
    </div>
    <%= hidden_field_tag "page", @page %>
    <%= hidden_field_tag "records_per_page", @records_per_page %>
    <% end %>

    <div id="results"></div>
  </div>
  <div class="col-md-4">
    <%= form_tag({:controller => :snac, :action => :import}, {:id => "snac_import"}) do |form| %>
    <div class="selected-container" data-spy="affix">
      <div class="alert alert-info"><%= I18n.t("plugins.snac.messages.none_selected") %></div>
      <div id="selected"></div>
      <button id="import-selected" class="btn btn-primary btn-default" disabled="disabled" data-confirm="<%= I18n.t("plugins.snac.actions.import_confirm") %>">
        <%= image_tag "archivesspace/btn-busy.gif", :class=>"btn-busy-icon" %>
        <%= I18n.t("plugins.snac.actions.import") %>
      </button>
    </div>
    <% end %>
  </div>

</div>

<script src="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/snac.js" %>"></script>
<script src="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/highlight.js/highlight.pack.js" %>"></script>

<link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/styles/snac.css" %>" media="all" rel="stylesheet" type="text/css">
<link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/highlight.js/styles/tomorrow.css" %>" media="all" rel="stylesheet" type="text/css">


<div id="template_snac_result"><!--
  <div class="snac-result">
    <div class="row">
      <div class="col-md-12">
        <div class='alert'>
          ${record.nameEntries[0].original}
          <button class="pull-right btn btn-default select-record"
            data-snacid="${record.id}"
            data-name="${record.nameEntries[0].original}"
            data-type="constellation"
            data-text-select="<%= I18n.t("plugins.snac.actions.select_record") %>"
            data-text-deselect="<%= I18n.t("plugins.snac.actions.deselect_record") %>">
          </button>
          <button class="pull-right btn btn-default show-record"
            data-text-show="<%= I18n.t("plugins.snac.actions.show_record") %>"
            data-text-hide="<%= I18n.t("plugins.snac.actions.hide_record") %>">
          </button>
          <div class="col-md-12 snac-show hide">
            <div class="snac-details-header">
              <b>SNAC ID:</b> ${record.id}
              <b>ARK:</b> ${record.ark}
            </div>
            <div class="snac-details-body">
              <iframe class="snac-details-snippet"
                data-src="<%= @prefs.web_url %>snippet/${record.id}"
                data-title="<%= I18n.t("plugins.snac.actions.details_title") %> ${record.id}">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
--></div>

<div id="template_snac_result_summary"><!--
  <div class="row-fluid">
    <div class="pull-right text-info">
      <%= I18n.t("plugins.snac.result_summary", :page => "${page}", :first_record_index => "${first_record_index}", :last_record_index => "${last_record_index}", :hit_count => "${hit_count}") %>
    </div>
    <hr/>
  </div>
--></div>

<div id="template_snac_pagination"><!--
  <div class="row-fluid">
    <hr/>
    <div class="snac-pagination text-center">
      {if !at_start}<a href='<%= url_for :controller => :snac, :action => :search %>${queryString}&page=${page - 1}&records_per_page=${records_per_page}' class="btn btn-small btn-default"><%= I18n.t("pagination.previous") %> <%= I18n.t("pagination.previous_label") %></a>{/if}
      {if !at_end}<a href='<%= url_for :controller => :snac, :action => :search %>${queryString}&page=${page + 1}&records_per_page=${records_per_page}' class="btn btn-small btn-default"><%= I18n.t("pagination.next_label") %> <%= I18n.t("pagination.next") %></a>{/if}
    </div>
  </div>
--></div>

<div id="template_snac_selected"><!--
  <div data-snacid="${snacid}" class="snac-selected">
    ${name}
    <input type="hidden" name="items[][id]" value="${snacid}"/>
    <input type="hidden" name="items[][type]" value="${type}"/>
    <button class="btn btn-mini btn-default btn-xs remove-selected pull-right"><span class="icon icon-trash glyphicon glyphicon-trash"></span></button>
  </div>
--></div>

<div id="template_snac_import_error_title"><!--
  <%= I18n.t("plugins.snac.messages.import_error") %>
--></div>

<div id="template_snac_import_success_title"><!--
  <%= I18n.t("plugins.snac.messages.import_success") %>
--></div>

<div id="template_snac_import_success_message"><!--
  <div class="alert alert-success"><%= I18n.t("plugins.snac.messages.import_success_message") %></div>
--></div>

<div id="template_snac_search_error_title"><!--
  <%= I18n.t("plugins.snac.messages.search_error") %>
--></div>
